<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jayden.mapper.WordMapper">
<!--    Mybatis实现接口文件-->
    <select id="findById" resultType="org.jayden.domain.Word">
        select * from ecdict where id = #{id}
    </select>

    <select id="findByNum" resultType="org.jayden.domain.Word">
        select * from ecdict limit #{num}
    </select>

    <select id="findByEngName" resultType="org.jayden.domain.Word">
        select * from ecdict where name = #{wordName}
    </select>
    <select id="findByCnName" resultType="org.jayden.domain.Word">
<!--        <bind name="pattern" value=" '%'+_parameter + '%'"/>-->
        select * from ecdict where (translation like '%${wordName}%' )
    </select>
</mapper>